# ==========================================
# Docker Configuration
# ==========================================
# User ID and Group ID mapping for file permissions on Linux
# Run `id -u` and `id -g` to find your values.
HOST_UID=1000
HOST_GID=1000

# Security configuration for gh cli
PARANOID_MODE=true

# Authentication
GITHUB_TOKEN=dfhhfdhd

# Git identity
GIT_NAME=Lucian
GIT_EMAIL=42606+gni@users.noreply.github.com

# Commit Signing
GIT_GPG_KEY=E5ED52C1971DB33F
GIT_GPG_SIGN=false
