# ==========================================
# Docker Configuration
# ==========================================
# User ID and Group ID mapping for file permissions on Linux
# Run `id -u` and `id -g` to find your values.
HOST_UID=1000
HOST_GID=1000

# Security configuration for gh cli
PARANOID_MODE=true

# Authentication
GITHUB_TOKEN=git_token

# Git identity
GIT_NAME=git_user
GIT_EMAIL=git_email

# Commit Signing
GIT_GPG_KEY=id
GIT_GPG_SIGN=false
